<a href="https://colab.research.google.com/github/TBAJ/notebook/blob/master/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#HAMOYE QUIZ ONE

In [7]:
!wget -o data.csv https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [8]:
fuel_data=pd.read_csv('/content/data.csv')

In [9]:
fuel_data

                                                                                                 --2020-07-19 14:21:38--  https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv
Resolving raw.githubusercontent.com (raw.github...  151.101.64.133               151.101.128.133                                                ...
Connecting to raw.githubusercontent.com (raw.gi... NaN                          NaN                                                             NaN
HTTP request sent                                   awaiting response... 200 OK NaN                                                             NaN
Length: 2649320 (2.5M) [text/plain]                NaN                          NaN                                                             NaN
Saving to: ‘fuel_ferc1.csv.2’                      NaN                          NaN                                                             NaN
     0K .......... .......... .......... ......... NaN                          NaN                                                             NaN
    50K .......... .......... .......... ......... NaN                          NaN                                                             NaN
   100K .......... .......... .......... ......... NaN                          NaN                                                             NaN
   150K .......... .......... .......... ......... NaN                          NaN                                                             NaN
   200K .......... .......... .......... ......... NaN                          NaN                                                             NaN
   250K .......... .......... .......... ......... NaN                          NaN                                                             NaN
   300K .......... .......... .......... ......... NaN                          NaN                                                             NaN
   350K .......... .......... .......... ......... NaN                          NaN                                                             NaN
   400K .......... .......... .......... ......... NaN                          NaN                                                             NaN
   450K .......... .......... .......... ......... NaN                          NaN                                                             NaN
   500K .......... .......... .......... ......... NaN                          NaN                                                             NaN
   550K .......... .......... .......... ......... NaN                          NaN                                                             NaN
   600K .......... .......... .......... ......... NaN                          NaN                                                             NaN
   650K .......... .......... .......... ......... NaN                          NaN                                                             NaN
   700K .......... .......... .......... ......... NaN                          NaN                                                             NaN
   750K .......... .......... .......... ......... NaN                          NaN                                                             NaN
   800K .......... .......... .......... ......... NaN                          NaN                                                             NaN
   850K .......... .......... .......... ......... NaN                          NaN                                                             NaN
   900K .......... .......... .......... ......... NaN                          NaN                                                             NaN
   950K .......... .......... .......... ......... NaN                          NaN                                                             NaN
  1000K .......... .......... .......... ......... NaN                          NaN                                                             NaN
  1050K .......... .......... .......... ......... NaN                          NaN                                                             NaN
  1100K .......... .......... .......... ......... NaN                          NaN                                                             NaN
  1150K .......... .......... .......... ......... NaN                          NaN                                                             NaN
  1200K .......... .......... .......... ......... NaN                          NaN                                                             NaN
  1250K .......... .......... .......... ......... NaN                          NaN                                                             NaN
  1300K .......... .......... .......... ......... NaN                          NaN                                                             NaN
  1350K .......... .......... .......... ......... NaN                          NaN                                                             NaN
  1400K .......... .......... .......... ......... NaN                          NaN                                                             NaN
  1450K .......... .......... .......... ......... NaN                          NaN                                                             NaN
  1500K .......... .......... .......... ......... NaN                          NaN                                                             NaN
  1550K .......... .......... .......... ......... NaN                          NaN                                                             NaN
  1600K .......... .......... .......... ......... NaN                          NaN                                                             NaN
  1650K .......... .......... .......... ......... NaN                          NaN                                                             NaN
  1700K .......... .......... .......... ......... NaN                          NaN                                                             NaN
  1750K .......... .......... .......... ......... NaN                          NaN                                                             NaN
  1800K .......... .......... .......... ......... NaN                          NaN                                                             NaN
  1850K .......... .......... .......... ......... NaN                          NaN                                                             NaN
  1900K .......... .......... .......... ......... NaN                          NaN                                                             NaN
  1950K .......... .......... .......... ......... NaN                          NaN                                                             NaN
  2000K .......... .......... .......... ......... NaN                          NaN                                                             NaN
  2050K .......... .......... .......... ......... NaN                          NaN                                                             NaN
  2100K .......... .......... .......... ......... NaN                          NaN                                                             NaN
  2150K .......... .......... .......... ......... NaN                          NaN                                                             NaN
  2200K .......... .......... .......... ......... NaN                          NaN                                                             NaN
  2250K .......... .......... .......... ......... NaN                          NaN                                                             NaN
  2300K .......... .......... .......... ......... NaN                          NaN                                                             NaN
  2350K .......... .......... .......... ......... NaN                          NaN                                                             NaN
  2400K .......... .......... .......... ......... NaN                          NaN                                                             NaN
  2450K .......... .......... .......... ......... NaN                          NaN                                                             NaN
  2500K .......... .......... .......... ......... NaN                          NaN                                                             NaN
  2550K .......... .......... .......... ......... NaN                          NaN                                                             NaN
2020-07-19 14:21:38 (16.1 MB/s) - ‘fuel_ferc1.c... NaN                          NaN                                                             NaN

In [13]:
pd.read_csv('/content/fuel_ferc1.csv.2')

                     record_id  ...  fuel_cost_per_mmbtu
0        f1_fuel_1994_12_1_0_7  ...                1.121
1       f1_fuel_1994_12_1_0_10  ...                1.120
2        f1_fuel_1994_12_2_0_1  ...                1.650
3        f1_fuel_1994_12_2_0_7  ...                1.970
4       f1_fuel_1994_12_2_0_10  ...                2.570
...                        ...  ...                  ...
29518  f1_fuel_2018_12_12_0_13  ...                9.030
29519   f1_fuel_2018_12_12_1_1  ...                6.950
29520  f1_fuel_2018_12_12_1_10  ...                8.990
29521  f1_fuel_2018_12_12_1_13  ...                1.110
29522  f1_fuel_2018_12_12_1_14  ...               11.680

[29523 rows x 11 columns]

In [17]:
data.head()

                record_id  ...  fuel_cost_per_mmbtu
0   f1_fuel_1994_12_1_0_7  ...                1.121
1  f1_fuel_1994_12_1_0_10  ...                1.120
2   f1_fuel_1994_12_2_0_1  ...                1.650
3   f1_fuel_1994_12_2_0_7  ...                1.970
4  f1_fuel_1994_12_2_0_10  ...                2.570

[5 rows x 11 columns]

In [19]:
data.describe()

       utility_id_ferc1  ...  fuel_cost_per_mmbtu
count      29523.000000  ...         29523.000000
mean         118.601836  ...            19.304354
std           74.178353  ...          2091.540939
min            1.000000  ...           -41.501000
25%           55.000000  ...             1.940000
50%          122.000000  ...             4.127000
75%          176.000000  ...             7.745000
max          514.000000  ...        359278.000000

[8 rows x 7 columns]

In [20]:
data.iloc[3]

record_id                       f1_fuel_1994_12_2_0_7
utility_id_ferc1                                    2
report_year                                      1994
plant_name_ferc1                                barry
fuel_type_code_pudl                              coal
fuel_unit                                         ton
fuel_qty_burned                           3.73948e+06
fuel_mmbtu_per_unit                             23.95
fuel_cost_per_unit_burned                       47.21
fuel_cost_per_unit_delivered                    45.99
fuel_cost_per_mmbtu                              1.97
Name: 3, dtype: object

In [25]:
data.groupby('fuel_unit')['fuel_unit'].count()

fuel_unit
bbl        7998
gal          84
gramsU      464
kgU         110
mcf       11354
mmbtu       180
mwdth        95
mwhth       100
ton        8958
Name: fuel_unit, dtype: int64

In [38]:
data['cost per unit'] = data['fuel_qty_burned'] * data['fuel_cost_per_unit_burned']

In [118]:

data.groupby(['report_year' ,'fuel_type_code_pudl']  ) .mean()

                                 utility_id_ferc1  ...  cost per unit
report_year fuel_type_code_pudl                    ...
1994        coal                       106.168421  ...   4.477212e+07
            gas                        111.804928  ...   6.262613e+07
            nuclear                     93.563380  ...   2.004599e+07
            oil                         89.283133  ...   3.584750e+05
            other                      100.666667  ...   1.980457e+06
...                                           ...  ...            ...
2018        coal                       134.018957  ...   6.877015e+07
            gas                        134.971111  ...   3.136087e+07
            nuclear                    130.100000  ...   4.304464e+07
            oil                        130.811024  ...   1.849339e+06
            waste                      142.312500  ...   5.421384e+06

[148 rows x 7 columns]

In [103]:
data.groupby('report_year') ['fuel_cost_per_unit_burned'].mean()

report_year
1994    213.191996
1995    354.422555
1996     79.434995
1997    149.482132
1998    126.683519
1999    120.053605
2000    237.797111
2001    133.013010
2002    101.179365
2003    123.183919
2004    154.897398
2005    107.111221
2006    151.361249
2007    202.622082
2008    255.954415
2009    215.699318
2010    262.951203
2011    301.754519
2012    258.804138
2013    255.991023
2014    442.359068
2015    237.933197
2016    247.083959
2017    246.281796
2018    232.992036
Name: fuel_cost_per_unit_burned, dtype: float64